/* 


body{
  background-color: #282D31;
}

img{
  width: 150px;
}

h1,h2,h3{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #992525;
}

p{
  margin: 4px;
}


.CartaProductos{
  background-color: #282D31;
  padding: 50px;
}


.button_card{
  background-color: #DD1D1D;
  color: white;

} */

 
