.card-body {
    display: flex;
    flex-direction: column;
    height: 50%; 
    width: 50%;
    align-content: space-between;
    align-items: center;
  }
  
  .btn-bottom {
    margin-top: auto; 
  }
  