.link {
    color: #DC3545;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bold;
}


.link:hover{
    color: #C54120;
    text-decoration:line-through;
}

.calltoaction {
    margin: 20px;
    padding: 100px;
    height: 300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("src/assets/imagenes/banners/img_section2.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.calltoaction2 {
    margin: 30px;
    padding: 100px;
    height: 300px;
    background-image: linear-gradient(rgba(12, 12, 12, 0.8), rgba(24, 22, 22, 0.8)), url("./src/assets/imagenes/banners/img_section3.jpg");
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: center;
}
